# Ambiente Virtual
.venv/
venv/

# Arquivos do PyCharm/IntelliJ
.idea/

# Arquivos de segredos
.env
secrets.json
config.local.json
firebase-credentials.json

# Cache do Python
*.pyc
__pycache__/

# Logs
*.log

# Diretórios de build (opcional)
build/
dist/

# Dados de modelos treinados
models_data/
app/models_data/
backend/app/models_data/